<style>
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap')
</style>
:root {
    --cor-de-fundo:#84b0da;
    --blue:#0F00DA;
    --branco:#FFFFFF;
    --botao-ativo:#6FFF57;
    --botao-inativo: rgba(218, 6, 122, 0.5);
    --texto-fundo: rgba(20, 8, 155, 0.705);
   }
    body{
          background-color: blueviolet (cor de fundo);
          color: var (blue);
          font-family: Arial, Helvetica, sans-serif;
    }