:root {
    --cor-de-fundo:#84b0da;
    --blue:#0F00DA;
    --branco:#FFFFFF;
    --botao-ativo:#6FFF57;
    --botao-inativo: rgba(218, 6, 122, 0.5);
    --texto-fundo: rgba(20, 8, 155, 0.705);
    
}